<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
         <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./ReactorInfo</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">sa</property>
        <property name="hibernate.current_session_context_class">thread</property>



        <property name="dialect">org.hibernate.dialect.H2Dialect</property>


        <property name="show_sql">false</property>

        <property name="hbm2ddl.auto">update</property>


        <mapping class="com.mycompany.reactorsinfo.model.Country"/>
	<mapping class="com.mycompany.reactorsinfo.model.ReactorType"/>
        <mapping class="com.mycompany.reactorsinfo.model.Reactor"/>  
        <mapping class="com.mycompany.reactorsinfo.model.OperatingHistory"/>
        

    </session-factory>
</hibernate-configuration>
